.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

@media (min-width: 979px) {
  .nav li.dropdown:hover > ul.dropdown-menu {
      display: block;    
  }
}

.jumbotron {
  background-image:url('http://universitylibrarian.blogs.wesleyan.edu/files/2012/01/olinlibsmall.jpg');
  height: 700px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #000000;
  border-top:1px solid #000000;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container h1{
  text-align:center;
  color:#CCFFFF;
  padding-bottom: 10px;
}


.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}


/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  /*color: #898989;*/
  padding: 6px 20px;
  font-weight: 500;
}

/* About me section */
.about-me{
  background-color: #fff;
  height: 406.4px;
  border: 3px solid #000000;
  position:relative;
}

.about-me img{ 
  float: left;
  padding-right: 10px;
}

.about-me p{
    text-indent: 1cm;
   text-align:justify;
  color:#000000;
  text-shadow: 0px 0px 0px;
  margin: 10px;
  position:relative;
  top:35%;
  transform: translate(0,-50%)
}