.nav a {
  color: #5a5a5a;
  font-size: 11px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.nav li {
  display: inline;
}

@media (min-width: 979px) {
  .nav li.dropdown:hover > ul.dropdown-menu {
      display: block;    
  }
}

.jumbotron {
  background-image:url('http://universitylibrarian.blogs.wesleyan.edu/files/2012/01/olinlibsmall.jpg');
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom:1px solid #000000;
  border-top:1px solid #000000;
}

.jumbotron .container {
  position: relative;
  top:100px;
}

.jumbotron .container h1{
  text-align:center;
  color:#CCFFFF;
}

.jumbotron .container p{
  padding-top:.2cm;
  text-align:center;
  color:#CCFFFF;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;  
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #f7f7f7;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}


.learn-more a {
  color: #00b0ff;
}

.neighborhood-guides {
  background-color:#efefef;
  border-bottom:1px solid #dbdbdb;
}

.neighborhood-guides h2{
  color:#393c3d;
  font-size:24px;
}

.neighborhood-guides p{
  font-size:15px;
  margin-bottom:13px;
}

/* Dropdown */

.dropdown-menu {
  font-size: 16px;
  margin-top: 5px;
  min-width: 105px;
}

.dropdown-menu li a {
  /*color: #898989;*/
  padding: 6px 20px;
  font-weight: 500;
}

    