.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: 700;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav {
    border-bottom: 1px solid #000;
}

.nav li {
    display: inline;
}

@media (min-width: 979px) {
    .nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.jumbotron {
    /* This image will be displayed fullscreen */
	background:url('http://i65.tinypic.com/nq2w5f.jpg') no-repeat center center;
	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;
	/* The Magic */
	background-size:cover;
    border-bottom: 1px solid #000;
}

body {
    min-height: 100%;
    padding-top: 55px; 
    min-width: 100%;
}

html,body {
  	height:100%;
}

.special,.special .jumbotron {
  	height:100%;
}

.jumbotron .container {
    padding: 100px;
    color: #d6e1f5;
}

.jumbotron .container h1 {
    text-align: center;
    font-size: 60px;
    font-family: 'Shift',sans-serif;
    font-weight: 700;
    -webkit-text-stroke: 1px #000;
}

.jumbotron .container p {
    text-align: center;
    font-size: 24px;
    -webkit-text-stroke: 1px #000;
    font-weight: 700;
    font-family: 'Shift',sans-serif;
    font-style: italic;
}

.learn-more {
    background-color: #f7f7f7;
}

.learn-more h3 {
    font-family: 'Shift',sans-serif;
    font-size: 18px;
    font-weight: 700;
}

.learn-more a {
    color: #00b0ff;
}

.neighborhood-guides {
    background-color: #efefef;
    border-bottom: 1px solid #dbdbdb;
}

.neighborhood-guides h2 {
    color: #393c3d;
    font-size: 24px;
}

.neighborhood-guides p {
    font-size: 15px;
    margin-bottom: 13px;
}

/* Dropdown */
.dropdown-menu {
    font-size: 16px;
    margin-top: 5px;
    min-width: 105px;
}

.dropdown-menu li a {
    padding: 6px 20px;
    font-weight: 500;
}