.nav a {
    color: #5a5a5a;
    font-size: 11px;
    font-weight: 700;
    padding: 14px 10px;
    text-transform: uppercase;
}

.nav {
    border-bottom: 1px solid #000;
}

.nav li {
    display: inline;
}

@media (min-width: 979px) {
    .nav li.dropdown:hover > ul.dropdown-menu {
        display: block;
    }
}

.jumbotron {
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    min-height: 100%;
}

.jumbotron .container{
    padding: 30px;
}

body {
    min-height: 100%;
}

html,body {
  height:100%;
}

.special,.special .jumbotron {
  height:100%;
}

.jumbotron h5 {
    font-size: 40px;
    font-weight: 700;
    font-family: serif;
    text-shadow: 0 0 0;
    margin: 0;
}

.jumbotron h1 {
    font-size: 20px;
    font-weight: 700;
    font-family: serif;
    text-shadow: 0 0 0;
    padding: 5px 10px 5px;
    font-style: oblique;
}

.jumbotron li {
    font-style: normal;
    src: url(http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff) format(woff);
    text-shadow: 0 0 0;
    font-size: 13px;
    font-family: Helvetica;
    font-weight: 300;
    margin-right: 5px;
}

.jumbotron h3 {
    font-size: 14px;
    margin: 5px 10px;
    font-family: Helvetica;
    font-weight: 300;
}

.jumbotron p {
    text-shadow: 0 0 0;
    font-size: 5px;
    font-family: Helvetica;
    font-style: normal;
    font-weight: 400;
    src: url(http://s3.amazonaws.com/codecademy-content/courses/ltp/fonts/shift.woff) format(woff);
}

.jumbotron a {
    font-size: 13px;
    padding: 0;
    margin: 0;
    font-weight: 500;
    color: #00E;
}

/* Resume head line */
.resumeHead {
    text-shadow: 0 0 0;
    border-bottom: 0 solid #000;
    background-color: transparent;
    text-align: center;
    padding-right: 40px;
}

.resumeHead li {
    font-size: 16px;
    font-family: Helvetica;
    font-weight: 100;
    display: block;
}

.thumbnail {
    margin: none;
    padding: none;
    background-color: #fff;
    position: relative;
    border-radius: 5px;
}

/* Dropdown menu */
.dropdown-menu {
    font-size: 16px;
    margin-top: 5px;
    min-width: 105px;
}

.dropdown-menu li a {
/*color: #898989;*/
    padding: 6px 20px;
    font-weight: 500;
}

/* Education section of resume */
.eduBox1 {
    border: 2px solid #dbdbdb;
    background-color: #fff;
    border-radius: 5px;
    padding-right: 2px;
    font-family: Helvetica;
}

.eduInfo p {
    font-size: 13px;
    display: inline;
    font-weight: 300;
}

.eduInfo li {
    font-family: Helvetica;
    font-weight: 300;
    margin-right: 5px;
}

.eduBox1 h2 {
    font-size: 14px;
    display: inline-block;
    font-family: Helvetica;
    font-weight: 400;
    font-style: normal;
    padding: 5px 5px 2px;
    margin: 0 10px;
    padding: 0;
}

.eduBox1 h3 {
    font-size: 14px;
    margin: 5px 10px;
    font-family: Helvetica;
    font-weight: 300;
}

.eduBox1 h4 {
    font-style: normal;
    font-size: 15px;
    font-family: Helvetica;
    font-weight: 600;
    padding: 0px 0px 2px;
    margin: 0 10px;
}

.relcourses li {
    font-style: italic;
    font-family: Helvetica;
    font-weight: 300;
    font-size: 13px;
}